<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="yellow">
<center><h2>
<form action="./reg" method="post">
    {% csrf_token %}
    Enter FirstName::<input type="text" name="t1"><br>
    Enter LastName::<input type="text" name="t2"><br>
    Enter UserName::<input type="text" name="t3"><br>
    Enter Password::<input type="password" name="t4"><br>
    Enter confirmPassword::<input type="password" name="t5"><br>
    Enter Email Id::<input type="email" name="t6"><br>
    Enter Mobile No::<input type="number" name="t7"><br>
    <input type="submit" value="Register">

</form>
</h2>
</center>
</body>
</html>